.mm-menu {
    position: fixed;
    width: 100%;
    max-width: calc(320px);
    z-index: 999;
    right: 0;
    top: 0;
    transform: translate(100%, 0%);
    transition: transform 0.3s ease;
    &.is-open {
        transform: translate(0%, 0%);
    }
    @media (min-width: 1200px) {
        display: none !important;
    }
    .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }
    .mm-menu-inner {
        max-width: calc(100% - 40px);
        height: calc(var(--vh, 1vh) * 100);
        background-color: #fff;
        padding: 15px;
        margin-left: 40px;
        > .nav {
            margin: 0 -15px;
            > .nav-item {
                border-bottom: solid 1px #dedede;
                &.has-sub {
                    > .nav-link {
                        position: relative;
                        padding-right: 40px;
                    }
                }
                > .nav-link {
                    padding: 8px 15px;
                    display: flex;
                    align-items: center;
                    .dropdown {
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        margin-left: auto;
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        &:before {
                            transition: transform 0.3s ease;
                        }
                        &.is-open {
                            &:before {
                                transform: rotate(180deg);
                            }
                        
                        }
                    }
                }
                .nav-sub-menu {
                    background-color: #F0F0F0;
                    display: none;
                    .nav-link {
                        padding: 8px 15px;
                        display: block;
                    }
                }
                .nav-link {
                    transition: color 0.3s ease;
                    &.current,
                    &:hover {
                        color: #F47D30;
                    }
                }
            }
        }
    }
    
}